.xc-switch {
    display: flex;
    background-color: var(--base-variant-0);
    border-radius: 10px;
    padding: 5px;
  }
  
  .xc-switch-option {
    flex: 1;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .xc-switch-option:hover {
    background-color: var(--base-variant-1);
  }
  
  .xc-switch-selected {
    background-color: var(--base-variant-1);
    font-weight: bold;
  }
  