.x-chatContainer {
    background-color: transparent;
    height: 100%;
    
    flex-grow: 1;
    justify-content: end;
}

.x-chat-messages-container {
    padding: 30px;

    flex-grow: 1;

    overflow-y: auto;
}

.x-closeChatWindow {
    position: absolute;
    top: 25px;
    right: 35px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--base-variant-0);

    & img{
        height: 20px;
    }
}

@media screen and (max-width: 1700px){
    .x-chat-messages-container {
        padding: 30px 100px;
    }
}

@media screen and (max-width: 1300px){
    .x-chat-messages-container {
        padding: 30px;
    }
    
}