@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --base-color: #FFFFFF;
    --base-variant-0: #F6F6F6;
    --base-variant-1: #EDEDED;
    --base-variant-2: #E4E4E4;

    --base-variant-neutral: #898989;

    --selection-color: #D5E4F1;
    
    --text-color: #000;

    --accent-color: #DF9BFF;
    --link-color: #767676;
    
    --transparency-color: rgba(0, 0, 0, .1);
    --transparency-color-variant: rgba(0, 0, 0, .3);
    
    --error-color: #ff9b9b;
    --error-foreground-color: #752727;
}

[custom-theme="dark"] {
    --base-color: #121212;
    --base-variant-0: #1B1B1B;
    --base-variant-1: #242424;
    --base-variant-2: #2D2D2D;

    --selection-color: #3c4852;
    
    --text-color: #fff;
    --link-color: #8E8E90;
    --accent-color: #DF9BFF;
    --transparency-color: rgba(255, 255, 255, .1);
    --transparency-color-variant: rgba(255, 255, 255, .3);
}

/* .darkMode {
    --base-color: #121212;
    --base-variant-0: #1B1B1B;
    --base-variant-1: #242424;
    --base-variant-2: #2D2D2D;

    --selection-color: #3c4852;
    
    --text-color: #fff;
    --link-color: #8E8E90;
    --accent-color: #DF9BFF;
    --transparency-color: rgba(255, 255, 255, .1);
    --transparency-color-variant: rgba(255, 255, 255, .3);
} */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: 'Inter';
    font-weight: 300;

    scrollbar-width: thin;
}

body {
    background-color: var(--base-color);
    color: var(--text-color);
    accent-color: var(--accent-color);
    caret-color: var(--accent-color);
}

::selection {
    background-color: var(--selection-color);
}

ul,
li,
button,
input,
textarea,
a {
    all: unset;
}

.g-pointer,
button,
a {
    cursor: pointer;
}

a {
    color: var(--accent-color);
}

.g-button {
    width: fit-content;
    text-align: center;
    white-space: nowrap;

    padding: 8px 16px;
    border-radius: 4px;
}

.g-mainButton {
    background-color: var(--accent-color);
    color: #000;
}

.secondaryButton {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.invisible {
    display: none;
}

.g-flex {
    display: flex;
}

.g-flex-col {
    flex-direction: column;
}

.g-vertical-center-flex {
    align-items: center;
}

.g-horizontal-center-flex {
    justify-content: center;
}

.g-horizontal-spbtw-flex {
    justify-content: space-between;
}

.g-icon {
    height: 20px;
    width: 20px;
}

.g-icon-animation {
    transition: transform .2s;
}

.g-icon-animation:hover {

    transform: scale(1.2);
}

.g-big-icon {
    height: 30px;
    width: 30px;
}

.g-flex-gap6 {
    gap: 6px;
}

.g-flex-gap10 {
    gap: 10px;
}

.g-flex-gap12 {
    gap: 12px;
}

.g-flex-gap16 {
    gap: 12px;
}

.g-flex-gap18 {
    gap: 18px;
}

.g-flex-gap20 {
    gap: 20px;
}

.g-flex-gap40 {
    gap: 40px;
}

.g-flex-gap50 {
    gap: 50px;
}

.g-background-pattern {
    --s: 118px; /* control the size*/
    --c1: var(--base-variant-1);
    --c2: transparent;
    
    --_g: transparent 52%,var(--c1) 54% 57%,transparent 59%;
    background:
     radial-gradient(farthest-side at -33.33% 50%,var(--_g)) 0 calc(var(--s)/2),
     radial-gradient(farthest-side at 50% 133.33%,var(--_g)) calc(var(--s)/2) 0,
     radial-gradient(farthest-side at 133.33% 50%,var(--_g)),
     radial-gradient(farthest-side at 50% -33.33%,var(--_g)),
     var(--c2);
    background-size: calc(var(--s)/4.667) var(--s),var(--s) calc(var(--s)/4.667);
}

.g-link-behaviour {
    &:hover {
        text-decoration: underline;
    }
}

.g-styled-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--base-variant-2) var(--base-variant-0);
}