.lp-aside {
    position: sticky;
    top: 0;

    height: 100vh;
    width: 650px;
}

.lp-aside-img {
    height: 100px;

    transition: transform .2s;
    &:hover {
        transform: scale(1.1) translate(8px, 0);
    }
}

@media screen  and (max-width: 1400px) {
    .lp-aside {
        width: 400px;
    }
}

@media screen  and (max-width: 790px) {
    .lp-aside {
        position: relative  ;
        display: block;
        width: 100%;
        height: 100px;
    }

    .lp-aside-img{
        height: 50px;
    }
}