.lp-body {
    position: relative;
    
    height: 100vh;
    width: 100vw;

    overflow-x: hidden;

    scrollbar-width: thin;
    scrollbar-color: var(--base-variant-2) var(--base-variant-0);

    background-color: var(--base-color);
}

.lp-content-container {
    width: calc(100vw - 720px);
    height: 100vh;
}

.lp-content-title {
    & img {
        margin-top: 7px;
        height: 90px;
    }

    & h1 {
        font-family: 'Oswald';
        font-weight: 500;
        font-size: 110px;
    }
}