.lp-body {
    height: 100vh;
    overflow-x: hidden;

    scrollbar-width: thin;
    scrollbar-color: var(--base-variant-2) var(--base-variant-0);

    scroll-behavior: smooth;
}

.lp-content-container {
    position: relative;
    flex-grow: 1;
}

.lp-divider {
    height: 2px;
    width: 50%;

    justify-self: center;

    background-color: var(--base-variant-2);

    position: relative;
    
    &::after {
        content: "SCROLL";
        color: var(--base-variant-neutral);

        width: 100px;

        position: absolute;
        top: -35px;
        left: calc(50% - 30px);
    }
}