.lp-content-title {
    height: 100vh;

    & img {
        height: 90px;
    }
    
    & h1 {
        /* font-family: 'Oswald';
        font-weight: 500; */
        font-family: "League Gothic", sans-serif;
        font-optical-sizing: auto;
        font-size: 120px;

        color: var(--text-color);

        transition: transform .2s;
    }

    & a {
        &:hover h1 {
            transform: scale(1.04);
        }
    }
}

@media screen  and (max-width: 790px) {
    .lp-content-title {
        height: 80vh;

        & img {
            height: 50px;
        }
        & h1 {
            font-size: 60px;
        }
    }
}