.xc-message-box {
    width: 100%;
    margin: 15px 0;

    & > div {
        position: relative;
    }
}

.xc-message-box.xc-message-sent .xc-message-tail {
    position: absolute;
    height: 30px;
    top: -2px;
    right: -10px;
}

.xc-message-box.xc-message-recieved .xc-message-tail {
    transform: scale(-1, 1);
    position: absolute;
    height: 30px;
    top: 33px;
    left: -10px;
}

.xc-message-sent {
    justify-content: end;

    & .xc-message-user {
        display: none;
    }
}

.xc-message-recieved {
    justify-content: start;
}

.xc-message {
    background-color: var(--base-variant-0);
    min-width: 200px;
    max-width: 650px;
    
    padding: 15px;

    border: 0 solid;
    border-radius: 12px 5px 12px 12px;
}

.xc-message-user {
    align-items: end;
    & img {
        height: 25px;
    }
}