.xc-messageInput-contiainer {
    position: absolute;
    bottom: 0;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px 40px 0;

    display: flex;
    justify-content: center;
    gap: 15px;
}

.xc-messageInput {
    background-color: var(--base-variant-0);

    caret-color: var(--accent-color);
    
    padding: 15px;
    
    width: 600px;
    max-height: 400px;
    
    scrollbar-width: thin;
    scrollbar-color: var(--transparency-color) transparent;
    resize: none;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    
    border-radius: 15px;

    color: var(--text-color);
}

.xc-sendButton {
    background-color: var(--base-variant-0);
    
    height: 50px;
    width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;

    transition: all .2s;

    & img {
        transition: all .2s;
    }

    &:hover img {

        transform: scale(1.4);
    }
}


