.mp-defaultHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    & ul {
        margin: 20px;
        width: 150px;
        display: flex;
        justify-self: end;
        justify-content: space-between;
        align-items: center;
    }
}